ul {
    padding:0;
    margin:0; 
    list-style-type: none;
    display:flex; 
    gap: 40px;
    margin-bottom: 80px;
    
   
}
body {
margin: 0px; 
padding: 0px; 
}


.top-container {
    display:flex; 
    padding: 10px 100px 100px 100px;
    background-color: #1F2937;
    gap: 20px; 
}

.top-container-right {

flex-basis: 1000px; 
display: flex;
flex-direction: column;
}



.top-container-left-content h1,p,button {
    margin-bottom: 0px;
    margin-top: 0px; 
    
    
}
.top-container-left-content p {
    padding-top: 10px; 
    padding-bottom: 10px;
    font-size: 18px; 
    color: #e5e7eb; 
}

.top-container-left-content h1 {
    font-size: 48px; 
    font-weight: bolder;
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8; 
}

.top-container-right-img {
 background-color: grey;
 flex: auto; 
 display: flex;
 justify-content: center;
 align-items: center;
 color: white; 
 border-radius: 12px;
 
}

.right-links {
 display:flex; 
 justify-content: flex-end;
 font-size: 18px; 
    color: #e5e7eb; 
}




.top-container-left-content button {
    background-color: #3882f6;
    color: white; 
    width: 100px; 
    padding: 5px; 
   border-radius: 12px;
border-color: #3882f6;
    }

.middle-container-one {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px 100px 100px 100px;
}

.middle-container-one h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937; 
   text-align: center;
}

.box {
    border: 3px solid #3882f6; 
    height: 150px; 
   border-radius: 12px;
  
}

.middle-container-content {
    display:flex; 
    justify-content: center;
    gap: 40px; 
    
}

.box-holder {
   text-align: center; 
   flex-basis: 150px;
  
   }

.box-holder p {
    padding: 5px;
}


